<!--<div [hidden]="!authenticated()" class="container">-->
<div class="container">
  <table class="table" style="width: 50%">
    <tr>
      <th>№</th>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
      <th></th>
    </tr>
    <tr *ngFor="let product of products; let i = index ">
      <td>
        {{i+1}}
      </td>
      <td>
        {{product.objectName}}
      </td>
      <td>
        {{product.typeName}}
      </td>
      <td>
        <button type="button" class="btn btn-secondary" routerLink="/infoAboutProduct/{{product.objectId}}">Specifications</button>
        <button *ngIf="authenticated()" type="button" class="btn btn-secondary" (click)="addToCart(product.objectId)">Add to cart</button>
      </td>
    </tr>
  </table>
</div>

