<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="root">
    <img src="/assets/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">
    E-Shop
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <div class="navbar-nav">
<!--    <div class="navbar-nav" *ngIf="!currentUser || currentUser.role == Role.Customer">-->

      <a class="nav-item nav-link "
         routerLink="/category/0">
        Books
      </a>
      <a class="nav-item nav-link"
         routerLink="/category/1">
        Food
      </a>
      <a class="nav-item nav-link "
         routerLink="/category/2">
        Clothes
      </a>
      <a class="nav-item nav-link"
         routerLink="/category/3">
        Drink
      </a>

    </div>

    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link " routerLink="/cart">
        <i class="fas fa-shopping-cart"></i>
        Cart
      </a>
    </div>
  </div>
</nav>

