<div id="registration-box">
  <h2>Registration Here</h2>
  <div class="alert alert-warning" *ngIf='noMatchPassword'>{{errorMessage}}</div>
  <div class="alert alert-success" *ngIf='registrationSuccess'>{{successMessage}}</div>
  <div class="alert alert-success" *ngIf='emailWasFound'>{{errorMessage}}</div>
  <div class="alert alert-success" *ngIf='incorrectEmail'>{{errorMessage}}</div>
  <form name='RegistrationForm' (submit)="registration()">
    <table>
      <tr>
        <td>Email:</td>
        <td><input type='text' class="form-control" id="exampleInputEmail1" placeholder="Enter email" name='username' [(ngModel)]="username"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type='password' class="form-control" id="exampleInputPassword1" placeholder="Enter password" name='password' [(ngModel)]="password"/></td>
      </tr>
      <tr>
        <td>Confirm Password:</td>
        <td><input type='password' class="form-control" id="exampleInputConfirmPassword1" placeholder="Enter confirm password" name='confirmPassword' [(ngModel)]="confirmPassword"/></td>
      </tr>
      <tr>
        <td colspan='2'><input class="btn btn-secondary" name="submit" type="submit"
                               value="Registration" /></td>
      </tr>
    </table>
  </form>
</div>
