<div class="container">
  <div align='center'><h1>Internet Shop</h1></div>

    <button type="button" class="btn btn-primary" routerLink="/allProducts">All Products<br></button>
    <button *ngIf="!authenticated()" type="button" class="btn btn-primary" routerLink="/login">Login<br></button>
    <button *ngIf="!authenticated()" type="button" class="btn btn-primary" routerLink="/registration">Registration<br></button>
    <button *ngIf="authenticated()" type="button" class="btn btn-primary" (click)="logout()">Logout<br></button>
    <button *ngIf="authenticated()" type="button" class="btn btn-primary" (click)="toCart()">Cart<br></button>
    <button *ngIf="getRole()" type="button" class="btn btn-primary" routerLink="/getAllUsers">getAllUsers<br></button>

  <router-outlet></router-outlet>
</div>
