<!--<div style="text-align:center">-->
<!--  <h1>-->
<!--    Welcome to {{ title }}!-->
<!--  </h1>-->
<!--  <nav>-->
<!--&lt;!&ndash;    <a routerLink="/getUsers">Get Users<br></a>&ndash;&gt;-->
<!--    <a routerLink="/getProducts">Show all products<br></a>-->
<!--&lt;!&ndash;    <a routerLink="/shortSummary">Short summary<br></a>&ndash;&gt;-->
<!--  </nav>-->
<!--  <app-order></app-order>-->
<!--  <router-outlet></router-outlet>-->

<div class="container">
  <div align='center'><h1>Internet Shop</h1></div>
  <div class="container">
    <table class="table" style="width: 50%">
      <tr>
        <th>objectId</th>
        <th>objectName</th>
        <th>typeName</th>
        <th>actions</th>
<!--        <th>typeName</th>-->
<!--        <th>attributeName</th>-->
        <th></th>
      </tr>
      <tr *ngFor="let product of products; let i = index ">
        <td>
          {{product.objectId}}
        </td>
        <td>
          {{product.objectName}}
        </td>
        <td>
          {{product.typeName}}
        </td>
<!--        <td>-->
<!--          <div>-->
<!--            <button class="viewAllSpecs" routerLink="/infoAboutProduct/{i}" (click)="viewAllInfoAboutProject(i)">View All Spec</button>-->
<!--          </div>-->
<!--        </td>-->
        <td>
          <nav>
            <a routerLink="/infoAboutProduct/{{product.objectId}}">View All Spec</a>
          </nav>
        </td>
      </tr>
    </table>
  </div>
  <router-outlet></router-outlet>
</div>
