<div class="getProductInfo">
  <div class="getProductInfo-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of productInfo">
        <td>{{ product.attributeName }}</td>
        <td>{{ product.value }}</td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-secondary" routerLink="/allProducts">Back</button>
  </div>
</div>
