<div class="container">
  <table class="table table-striped" style="width: 50%">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; let i = index ">
      <th scope="row">{{i+1}}</th>
      <td>
        {{product.objectName}}
      </td>
      <td>
        {{product.typeName}}
      </td>
      <td>
        {{product.price}}
      </td>
      <td>
        <button type="button" class="btn btn-secondary" routerLink="/infoAboutProduct/{{product.objectId}}">View All Spec</button>
        <button type="button" class="btn btn-secondary" (click)="delete(product.objectId, product.orderId)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-secondary" (click)="calcTotalPrice()">CalcTotalPrice</button>
  <div class="alert alert-warning" *ngIf='calcPrice'>{{totalPrice}}</div>
</div>
